@media screen and (max-width: 1200px) {
    .container {
        max-width: 970px;
    }

    .collection-item:last-of-type {
        .line {
            display: none;
        }
    }

    .popular-watch-item {
        padding: 20px 18px; 
        .watch-img {
            width: 280px;
            height: 280px;
        }
    }

    .conquest {
        margin-right: 140px;
    }
}
